<h1>MemCachier GIS Example</h1>
<p>Type in a location.  When you submit the form, we'll check the cache to see if that location has been searched before. If we get a hit, we'll return the results from the cache.  If not, we'll do the lookup.</p>

<input type="text" id="location" />
<input type="button" value="Submit" data-perform-lookup="true" />

<p id="coordinates"></p>